header {
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a.logo {
        align-items: baseline;
        color: black;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        width: max-content;

        svg {
            height: auto;
            margin: rem(16);
            width: rem(40);
        }
    }

    .logo-text {
        font-size: rem(18);
        font-weight: 900;
    }
}

// For desktop sized screens
@media screen and (min-width: 1024px) {
    header {
        a.logo svg {
            width: rem(58);
        }

        .logo-text {
            font-size: rem(30);
        }
    }
}

// For small size screens such as iphone 5
@media screen and (max-width: 330px) {
    header {
        a.logo {
            align-items: last baseline;

            svg {
                margin: 1rem 1rem 0 1rem;
            }
        }
    }
}
