// Base styles.

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: rem(12);
}

h1 {
    color: #7870a4;
    font-size: rem(20);
    font-weight: 700;
}

h2 {
    font-size: rem(18);
    font-weight: 500;
}

h3 {
    font-size: rem(16);
    font-weight: 700;
}

h4 {
    font-size: rem(12);
    font-weight: 700;
}

main {
    padding: 20px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: initial;
    text-decoration: none;
}

.error {
    color: red;
}

.success {
    color: #47813b;
}

.info {
    color: #483d83;
}

.hidden {
    display: none;
}

@media screen and (min-width: 1024px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
        font-size: rem(18);
    }

    h1 {
        font-size: rem(30);
    }

    h2 {
        font-size: rem(24);
    }

    h3 {
        font-size: rem(18);
    }

    h4 {
        font-size: rem(16);
    }

    main {
        padding-bottom: rem(32);
    }
}
