---
title: Answer A Word Cloud Question
permalink: "/answer/"
---

{% extends 'layouts/base.njk' %}

{% block content %}
<div class="answer">
    <form id="answersForm">
        <h1 class="question"></h1>
        <span class="note"><span data-i18n-textcontent="max_length">Note: The max length for each answer is</span> <span class="entry-max-length"></span> <span data-i18n-textcontent="characters">characters</span>.</span>

        <fieldset class="answer_area">
            <legend class="question"></legend>
            <div class="question-entry-area"></div>
        </fieldset>

        <button class="submit-answer" type="submit" data-i18n-textcontent="submit_answer" aria-controls="submit-status">Submit Answer</button>
        
        <div role="region" id="submit-status" aria-live="polite">
            <span id="status" role="status"></span>
            <a class="button view-wordle hidden" href="/wordle/" data-i18n-link>
                {% include "./images/view.svg" %}
                <span data-i18n-textcontent="view_wordle">View Word Cloud</span>
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block headerScripts %}
{# For internationalization #}
<script>
    let searchParams = new URLSearchParams(window.location.search);
    const wordle_globals = {
        wordleId: searchParams.get("id")
    };
</script>

<script src="/js/translations.js"></script>
<script src="/js/i18n.js"></script>
{% endblock %}

{% block footerScripts %}
<script src="/js/render_question.js"></script>
<script src="/js/submit_answer.js"></script>
<script>
inverted_wordles.populateForm({
    selectors: {
        question: ".question",
        entryMaxLength: ".entry-max-length",
        entryArea: ".question-entry-area",
        viewWordle: ".view-wordle",
        status: "#status"
    }
});
</script>
{% endblock %}
