---
title: Answer A Question
permalink: "/answer/"
---

{% extends 'layouts/base.njk' %}

{% block content %}
<script>
    var searchParams = new URLSearchParams(window.location.search);
    var wordle_globals = {
        wordleId: searchParams.get("id")
    };
</script>

<div class="answer">
    <form id="answersForm">
        <h1 class="question"></h1>
        <span class="note">Note: The max length for each answer is <span class="entry-max-length"></span> characters.</span>

        <fieldset class="answer_area">
            <legend class="question"></legend>
            <div class="question-entry-area"></div>
        </fieldset>

        <button class="submit-answer" type="submit">Submit Answer</button>
        <span id="status" role="status"></span>
        <a class="button view-wordle hidden" href="/wordle/">
            {% include "./images/view.svg" %}
            View Wordle
        </a>
    </form>
</div>
{% endblock %}

{% block footerScripts %}
<script src="/js/render_question.js"></script>
<script src="/js/submit_answer.js"></script>
<script>
inverted_wordles.populateForm({
    selectors: {
        question: ".question",
        entryMaxLength: ".entry-max-length",
        entryArea: ".question-entry-area",
        status: "#status"
    }
});
</script>
{% endblock %}
