---
title: Answer A Question
permalink: "/answer/{{ question.title | slug }}/"
---

{% extends 'layouts/base.njk' %}

{% block content %}
<form id="answersForm">
    <div class="question_title">
        <h1>{{ question.title }}</h1>
        <div class="note">Note: The max length for each answer is {{ question.entryMaxLength }} characters.</div>
    </div>

    <div class="answer_area">
        <fieldset>
            <legend>{{ question.title | safe }}</legend>
            {% for i in range(0, question.entries) %}
            <input type="text" autocomplete="false" {{ "autofocus" if i == 0 }} name="answer" maxlength="{{ question.entryMaxLength }}" placeholder="{{ "Enter a word" if i === 0  else "Enter another word" }}">
            {% endfor %}
        </fieldset>

        <input type="hidden" name="branch" value="{{ question.branch }}">
        <button type="submit">Submit</button>
        <span id="submit_status" role="status"></span>
    </div>
</form>
{% endblock %}

{% block footerScripts %}
<script src="/js/submit_answer.js"></script>
{% endblock %}
