---
title: Home
permalink: /
---

{% extends 'layouts/base.njk' %}

{% block headerContent %}
<div class="admin-controls">
    <button class="create-button" id="create-button">
        <svg role="presentation" class="create-question-svg">
            <use xlink:href="#create"></use>
        </svg>
        New Question
    </button>
    <div data-netlify-identity-button></div>
</div>
{% endblock %}

{% block content %}
<div class="home">
    <div class="wordles">
        <div class="header">
            <span>Workshop Name</span>
            <span>Question</span>
            <span>Word Entries</span>
            <span>Answers</span>
            <span>Wordle</span>
            <span>Last Modified</span>
            <span></span>
        </div>
    </div>
    <span id="status" role="status"></span>

    {# The modal dialog for creating new wordles #}
    <div class="dialog-backdrop no-scroll">
        <div id="create-dialog" role="alertdialog" aria-modal="true" aria-labelledby="create_dialog_label" aria-describedby="create_dialog_desc" class="hidden">
            <h2 id="create_dialog_label" class="dialog_label">Confirm to Create New Question</h2>
            <div id="create_dialog_desc" class="dialog_desc">
                <p>
                    This will create a new webpage. It will take a couple of minutes until links are available. Are you sure you want to proceed?
                </p>
            </div>
            {# aria-controls value is dynamically set to the id of the wordle row that will be created #}
            <div class="dialog_form_actions">
                <button type="button" id="create-confirm" aria-controls="" onclick="aria.closeDialog(this);inverted_wordles.manage.createWordle(inverted_wordles.manage.globalOptions);">
                    <svg role="presentation">
                        <use xlink:href="#tick"></use>
                    </svg>
                    Yes, go ahead
                </button>
                <button type="button" id="create-cancel" onclick="aria.closeDialog(this)">
                    <svg role="presentation">
                        <use xlink:href="#cross"></use>
                    </svg>
                    No, cancel
                </button>
            </div>
        </div>
    </div>

    {# The modal dialog for deleting wordles #}
    <div class="dialog-backdrop no-scroll">
        <div id="delete-dialog" role="alertdialog" aria-modal="true" aria-labelledby="delete_dialog_label" aria-describedby="delete_dialog_desc" class="hidden">
            <h2 id="delete_dialog_label" class="dialog_label">Confirm to Delete</h2>
            <div id="delete_dialog_desc" class="dialog_desc">
                <p>
                    This will delete the question link permanently and you will not be able to view the answers or the wordle. Are you sure you want to delete?
                </p>
            </div>
            {# The value of the wordle id is dynamically set when opening the dialog #}
            {# aria-controls value is dynamically set to the id of the wordle row that will be deleted #}
            <div class="dialog_form_actions">
                <input type="hidden" name="wordleId" value="">
                <button type="button" id="delete-confirm" aria-controls="" onclick="inverted_wordles.manage.deleteClicked(this, inverted_wordles.manage.globalOptions)">
                    <svg role="presentation">
                        <use xlink:href="#tick"></use>
                    </svg>
                    Yes, delete the question
                </button>
                <button type="button" id="delete-cancel" onclick="aria.closeDialog(this)">
                    <svg role="presentation">
                        <use xlink:href="#cross"></use>
                    </svg>
                    No, keep the question
                </button>
            </div>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    {# An import of src/images/create.svg #}
    <symbol id="create" viewBox="0 0 18 18" fill="none">
        <path d="M1 9H17" class="create-svg-class" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9 1L9 17" class="create-svg-class" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    {# An import of src/images/view-landing.svg #}
    <symbol id="view" viewBox="0 0 25 15" fill="none">
        <path d="M1 7.61017C5.71311 13.339 9.86066 14 12.5 14C17.5902 14 21.7377 10.4746 24 7.61017C19.2869 1.88136 15.1393 1 12.5 1C7.22131 1 3.2623 4.9661 1 7.61017Z" class="view-svg-class" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12.5 12C14.9853 12 17 9.98528 17 7.5C17 5.01472 14.9853 3 12.5 3C10.0147 3 8 5.01472 8 7.5C8 9.98528 10.0147 12 12.5 12Z" class="view-svg-class" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    {# An import of src/images/x.svg #}
    <symbol id="cross" viewBox="0 0 15 15" fill="none">
        <path d="M2.00024 2L13.314 13.3137" class="x-svg-class" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.3137 2L2.00001 13.3137" class="x-svg-class" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    {# An import of src/images/tick.svg #}
    <symbol id="tick" viewBox="0 0 22 16" fill="none">
        <path d="M1 9L7 15L20.5 1" class="tick-svg-class" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    {# An import of src/images/ellipse.svg #}
    <symbol id="ellipse" viewBox="0 0 21 21" fill="none">
        <circle cx="10.5" cy="10.5" r="9.5" stroke="#0080A4" stroke-width="2" stroke-dasharray="4 2"/>
    </symbol>
</svg>
{% endblock %}

{% block headerScripts %}
<script>
var inverted_wordles = {};

inverted_wordles.manage = {};
inverted_wordles.manage.globalOptions = {
    inputFieldNames: ["workshop-name", "question", "entries"],
    wordleRowIdPrefix: "one-wordle-id",
    deleteButtonIdPrefix: "delete-id",
    lastModifiedIdPrefix: "last-modified-id",
    wordleIdField: "wordleId",
    createDialogId: "create-dialog",
    createCancelId: "create-cancel",
    deleteDialogId: "delete-dialog",
    deleteCancelId: "delete-cancel",
    selectors: {
        wordlesArea: ".wordles",
        createButton: ".create-button",
        deleteButton: ".delete-button",
        deleteConfirm: "#delete-confirm",
        deleteCancel: "#delete-cancel",
        createButton: ".create-button",
        status: "#status",
        oneStatus: ".one-status"
    }
};
</script>

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{# For generating UUID #}
<script type="text/javascript" src="/lib/uuidv4.min.js"></script>
{# For modal dialogs #}
<script src="/lib/utils.js"></script>
<script src="/lib/dialog.js"></script>
{# For managing wordles #}
<script src="/js/manage_wordles_utils.js"></script>
<script src="/js/login_handler.js"></script>
<script src="/js/edit_wordles.js"></script>
<script src="/js/delete_wordles.js"></script>
<script src="/js/create_wordle.js"></script>
<script src="/js/init_manage_wordle.js"></script>

<script>
inverted_wordles.manage.initManagePage(inverted_wordles.manage.globalOptions);
</script>
{% endblock %}
