---
title: Home
permalink: /
---

{% extends 'layouts/base.njk' %}

{% block content %}
<h1>{{ title }}</h1>
<div class="wordle-home">
    Build inverted wordles that collect people answers to a given question and highlight minority answers.
    <br/><br/>
    Available Wordles:
    <br/>
    <span class="list-title">{{question.title}}:</span> <a href="/answer/">Submit an answer</a> <a href="/wordle/">View Wordle</a>
</div>
{% endblock %}

{% block headerScripts %}
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}
