---
title: Inverted Wordle
permalink: "/wordle/"
---

{% extends 'layouts/base.njk' %}

{% block content %}
<script>
    var searchParams = new URLSearchParams(window.location.search);
    var wordle_globals = {
        wordleId: searchParams.get("id")
    };
</script>
<div class="wordle">
    <h1>{{ question.question }}</h1>

    <div class="wordleRender">
        {# Use "viewBox" and "preserveAspectRatio" to ensure the svg fits into viewports with different aspect ratios for the responsive design. #}
        <svg width="1024" height="768" viewBox="0 0 1024 768" preserveAspectRatio="xMidYMid meet">
        </svg>
    </div>

    <div class="wordle-controls">
        <div class="tts-controller">
            <div class="tts-checkbox">
                <label class="checkbox-holder">
                    <input class="fl-mapviz-checkbox" id="tts" type="checkbox">
                    <span>
                        {% include "./images/checkbox-selected.svg" %}
                    </span>
                </label>
                <label for="tts">Speak the wordle text under the pointer {% include "./images/speaker.svg" %}</label>
            </div>
            <span class="tts-status">*Unable to activate VoiceOver. Your browser version or config does not support web speech API**</span>
        </div>

        <div class="apply-conventional">
            <label class="checkbox-holder">
                <input class="fl-mapviz-checkbox" id="conventional" type="checkbox">
                <span>
                    {% include "./images/checkbox-selected.svg" %}
                </span>
            </label>
            <label for="conventional">Apply conventional weighting</label>
        </div>
    </div>
</div>
{% endblock %}

{% block footerScripts %}
<script src="/lib/d3.min.js"></script>
<script src="/lib/d3.layout.cloud.js"></script>
<script src="/js/render_wordle.js"></script>
<script>
inverted_wordles.initWordle({
    selectors: {
        render: ".wordleRender svg",
        conventional: "#conventional",
        ttsController: ".tts-controller",
        tts: "#tts"
    }
});
</script>
{% endblock %}
