---
title: View A Word Cloud
permalink: "/wordle/"
---

{% extends 'layouts/base.njk' %}

{% block content %}
<script>
    let searchParams = new URLSearchParams(window.location.search);
    const wordle_globals = {
        wordleId: searchParams.get("id")
    };
</script>
<div class="wordle">
    <h1 data-i18n-textcontent="view_wordle">View A Word Cloud</h1>
    <div class="wordleRender">
        {# Use "viewBox" and "preserveAspectRatio" to ensure the svg fits into viewports with different aspect ratios for the responsive design. #}
        <svg width="1024" height="768" viewBox="0 0 1024 768" preserveAspectRatio="xMidYMid meet">
        </svg>
    </div>

    <div class="wordle-controls">
        <div class="tts-controller">
            <div class="tts-checkbox">
                <label class="checkbox-holder">
                    <input class="fl-mapviz-checkbox" id="tts" type="checkbox">
                    <span>
                        {% include "./images/checkbox-selected.svg" %}
                    </span>
                    <label class="visually-hidden">checkbox</label>
                </label>
                <label for="tts"><span data-i18n-textcontent="speak_wordle">Speak the word cloud text under the pointer</span> {% include "./images/speaker.svg" %}</label>
            </div>
            <span class="tts-status" data-i18n-textcontent="error_voiceover">*Unable to activate VoiceOver. Your browser version or config does not support web speech API*</span>
        </div>

        <div class="apply-conventional">
            <label class="checkbox-holder">
                <input class="fl-mapviz-checkbox" id="conventional" type="checkbox">
                <span>
                    {% include "./images/checkbox-selected.svg" %}
                </span>
                <label class="visually-hidden">checkbox</label>
            </label>
            <label for="conventional" data-i18n-textcontent="apply_weight">Apply conventional weighting</label>
        </div>
    </div>
</div>
{% endblock %}

{% block headerScripts %}
{# For internationalization #}
<script src="/js/translations.js"></script>
<script src="/js/i18n.js"></script>
{% endblock %}

{% block footerScripts %}
<script src="/lib/d3.min.js"></script>
<script src="/lib/d3.layout.cloud.js"></script>
<script src="/js/render_wordle.js"></script>
<script>
inverted_wordles.initWordle({
    selectors: {
        render: ".wordleRender svg",
        conventional: "#conventional",
        ttsController: ".tts-controller",
        tts: "#tts"
    }
});
</script>
{% endblock %}
